@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900;400;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -.1rem;
}

body{
    background-color: antiquewhite;
    font-family: 'inter';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;

}
header{
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex:1;
}

h1{
    font-size: 2rem;
    font-weight: 900;
}

#score-board{
    font-size: 2em;
    font-weight: 900;
}

#computer-voice{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}
#button-rack {
    text-align: center;
    padding-bottom: 4rem;
}

button {
    background-color: antiquewhite;
    font-size: 2rem;
    margin:2rem;
    padding: 1rem 2rem;
    color: #333;

}

button:hover {
    background-color: #333;
    color: antiquewhite;
}